
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #FAF9F8;
    font-family: "Segoe UI", Arial, sans-serif;
    overflow-y: hidden;
}
.bodySection{
    display: flex;
}
header{
    background-color:#2564CF;
    padding: 0;
}
.navBar{
    display: flex;
    justify-content: space-between;
    margin: 0 3%;
    align-items: center;

}
.navBar p{
    font-size: 16px;
    line-height: 48px;
    color: #fff;
    font-weight: bold;
}
h4{
   font-size: 14px;
   line-height: 20px;
   color: #292827; 
   font-weight: 380;
}
#mainH4{
    font-size: 20px;
    line-height: 16.7px;
    font-weight: 500;
}
hr{
    color: #E1DFDD;

}
.search{
    position: relative;
    width: 400px;
    /* background-color: aqua; */

}
.search input{
    width: 100%;
    /* padding: 10px 10px 10px 40px; */
    padding: 3px 10px 3px 40px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-weight: 350;
    outline: none;
}
.search i{
    position: absolute;
    left: 10px;
    top:50%;
    transform: translateY(-50%);
    font-size: 15px;
    color:#2564CF;
}
.search input::placeholder{
    opacity: 0;
    transition: opacity 0.3s;
    
}
.search input:focus::placeholder{
    opacity: 1;

}
.otherIcons{
    display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 20px;
}
.otherIcons i {
    color: #fff;
    opacity: 0.9;
}
/* SIDE BAR */



/* Active state for sidebar options */



.bar{
    position: absolute;
    top: 66px;
    left: 20px;
    z-index: 1000;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;


}
.bar i{
    margin-top: 10%;
    margin-bottom: 10%;
    opacity: 0.7;
}

.new{
    align-items: center;
}
.new i{
    color:#2564CF;
    font-weight: lighter;
}
.new p{
    color:#2564CF;
    font-weight: light;

}
.square i{
    color:#2564CF;
    
}
.sideBar{
    background: #fff;
    height: 100vh;
    width: 290px;
    position: relative;
    transition: width 0.3s ease , padding 0.3s ease;;
}
.sideBar.collapsed{
    width: 0;
    padding: 0;
    overflow: hidden;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:  0 20px;
    margin-top: 20%;
    gap: 10px;
}




.bluePart{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;

}
.new{
   display: flex;
   gap: 20px; 
}
.bottomIcons{
    position: absolute;
    bottom: 60px;
    left: 10px;
    right: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    /* margin-left: 10px;
    margin-right: 10px; */
}
/* Active state for sidebar options */
.options div.active {
    background-color: #EFF6FC; 
    color:black; 
    border-radius: 5px;
    padding: 10px; 
    width: 100%;
    box-sizing: border-box;
    height: 40px;
    display: flex;
    align-items: center;

}

.sun:hover, .important:hover, .plan:hover, .assign:hover, .tasks:hover {
    background: #FAF9F8;
    cursor: pointer;
}

/* Ensuring default styles for inactive options */
.sun, .important, .plan, .assign, .tasks {
    background-color: transparent; 
    color: #292827; 
    padding: 10px; 
    display: flex;
    width: 100%;
    gap: 20px;
    margin-bottom: 20px;
    height: 40px;
    align-items: center;
    box-sizing: border-box;
      
}

/* MAIN PAGE */
.dayMainPage{
    display: flex;
    flex-direction: column;
    display: none;
    flex-grow: 1;
    transition: margin-left 0.3s ease;
}
.dayMainPage.expanded{
    margin-left: 10px;
    flex-grow: 1;
    
}
.twoDivs{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 30px;
  
    width: 80vw;
 
    
}
.firstDiv {
    display: flex;
    gap:20px;
    position: relative;

}
.ellipsis-menu, .grid-menu ,.list-menu,.sort-menu, .group-menu, .suggestions-menu , .ellipsis-menu-2 {
    display: inline-block;
    position: relative;

}
#ellipsis, #grid{
    cursor: pointer;
}
.tooltip{
    visibility: hidden;
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    width: 120px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;

}
.ellipsis-menu:hover .tooltip , .grid-menu:hover .tooltip, .list-menu:hover .tooltip, .sort-menu:hover  .tooltip, .group-menu:hover .tooltip, .suggestions-menu:hover .tooltip, .ellipsis-menu-2:hover .tooltip{
    visibility: visible;
    opacity: 1;

}

.dropdown-menu{
   
  
    display: none;
    position: absolute;
    top:30px;
    left: 30px;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px 40px;
    z-index: 1000;
}
.dropdown-menu h5{
    margin: 0;
    padding: 5px;
    font-size: 14px;
 
    
    

}
.dropdown-menu hr{
   margin:0 -38px ;
padding: 0;
   

}

.menu-option{
    display: flex;
    align-items: center;
    
    cursor: pointer;
    background-color: #f0f0f0;
    width: 100%;
}
.menu-option i{
    margin-right: 10px;
}


 .secondDiv{
    display: flex;
    gap:20px;
}
.grid , .arrows , .group ,.suggestion,  .grid-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px; 
    cursor: pointer;
}
.list, .important-list {
    display: flex;
    align-items: center; 
    flex-direction: row;
    cursor: pointer;
   
    gap: 10px; 
    border-bottom: 3px solid #605E5C;
    border-radius: 3%;
}

.twoParts{
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
    gap: 3px;
}

.input input{
    width: 100%;
    padding:15px 10px ;
    border-radius: 5px;
    border: 1px solid #fff;
    outline: none;
    
}

.threeIcons{
    display: flex;
    gap: 15px;
    
}
.add button{
    background-color: #fff;
    padding: 2px 5px;
    outline: none;
    border: 1px solid #fff;
    color: #aeabaa;
    position: relative;
    cursor: pointer;
}
.add button:hover::after{
    content: '\f05e'; 
    position: absolute;
      font-family: "Font Awesome 5 Solid";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red; 
    font-size: 14px; 
}
.add button:disabled {
    opacity: 0.5; 
    cursor: not-allowed;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.task button {
    background: red;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
}



.inputTwo{
  
    padding:15px 10px ;
    background-color: #FAF9F8;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
   
}

/* MY DAY */

#myDayContent{
    display: flex;
}

 /* MAIN PAGE IMPORTANT  */
 .grid-2 i,.ellipsis-menu-2 i{
    color: #2564CF;
 }
 .important-list{
    border-bottom: 3px solid  #2564CF;

 }
 #importantContent h4 , #importantContent p , #secondStar,#secondEllipsis ,#secondList , #secondArrow , #secondCalendar ,#secondUser, #secondHouse , #plannedContent p , #plannedContent h4, .important-list{
    color:#2564CF;

 }
 #greenUser , #greenEllipsis , #greenList , #assignedContent h4,  #assignedContent p {
    color: #457e21;

 }
 

 /* MEDIA QUERIES */
 /* MOBILE PHONES */

 @media (max-width:600px){
    .navBar{
        padding: 5px;
    }
    
    .navBar p{
        font-size: 14px;
    }
    .search{
       width:50% ; 
    }
    .search input{
        padding: 5px 10px;
        font-size: 14px;
    }
   
   .otherIcons{
        
        gap: 10px;
    }
    .sideBar{
        width: 100%;
        height: 100vh;
       
    }
.bar{
    left: 20px;
   
}

.sun, .important , .plan , .assign , .tasks{
    flex-direction: row;
    gap: 5px;
    height: auto;
    margin-top: 10PX;

}
.bluePart p{
    display: none;
}
.bottomIcons{
    display: none;
}
.dayMainPage{
    margin-left: 0;
}
.twoDivs{
    /* flex-direction: column; */
    width: 100vw;
    margin: 10px;
}
.dayMainPage h4 , .dayMainPage p{
    display: none;

}
.firstDiv{
    margin-left: 20px;
}
 .secondDiv{
    /* gap: 10px; */
    display: none;
}
.input input, .inputTwo{
    width: 68%;
    padding: 10px 5px;
    margin-left: -10px;

}
.add button{
    padding: 5px 10px;
}
 
 }

 /* tablets */

 @media (min-width: 601px) and (max-width:1024px){
    .navBar{
        flex-direction: row;
        margin: 0 2%;
        
        padding: 5px;
    }
   
    .search{
       width:80% ; 
    }
    .search input{
       
        font-size: 15px;
    }
    .otherIcons{
        flex-direction: row;
        gap: 15px;
    }
    .sideBar{
        width: 250px;
        position: relative;
    }
.bar{
    left: 20px;
   
}

.sun, .important , .plan , .assign , .tasks{
    
    margin-top: 10px;
    flex-direction: row;
    gap: 5px;
    height: auto;
    margin-top: 10PX;

}
.bluePart {
    display: none;
}

.bottomIcons{
   display: none;
}
.dayMainPage{
    margin-left: 0px;
}


 }